extend layout

block content
  #wrapper
    .header
      a#logo(href='/') /
      p #{channel}
      #menu-button ≡
        ul(id='menu-list')
          li
            a#unmute(href='javascript:;') Unmute

    #chat-container
      ul(id='banner-list')
        li
          a(href='https://hypem.com/popular?utm_source=meat&utm_medium=facespaces&utm_campaign=facespaces', target='_blank')
            img(src='/images/banners/hypem.png')
        li
          a(href='http://digitalocean.com/?utm_source=facespaces&utm_medium=banner&utm_term=meatspace&utm_content=meatspaces&utm_campaign=facespaces', target='_blank')
            img(src='/images/banners/digital_ocean.png')
        li
          a(href='https://keen.io/?s=facespacesyo', target='_blank')
            img(src='/images/banners/keen_io.png')
      ul(id='chat-list')
      .end

    div(id='channel', data-channel='#{channel}')
  #footer
    #videoWrapper
    form(method='post', id='composer-form')
      .message-content
        input(name='message', id='composer-message', class='input', maxlength='100', autocomplete='off', placeholder='Send a message')
        input(type='hidden', name='_csrf', value='#{csrf}')
        #composer-blocker.hidden
    #counter 100

