extend layout

block content
  #wrapper.home
    h1 facespaces

    p Jump to any channel you want and make a selfie!

    form(method='post', action='/channel')
      p
        span http://thebe.st/c/
        input(type='text', name='channel', required)
        input(type='hidden', name='_csrf', value='#{csrf}')
      button(type='submit') Go!

    p.day
      span Not sure where to start?&#xa0;
      a#current-day(href='/c/monday') How about today?

    #chat-container
      ul(id='chat-list')
        li
          img(src='/images/animated1.gif')
        li
          img(src='/images/animated2.gif')

    #footer-home
      a(href='https://chat.meatspac.es')
        img(src='/images/banners/meatspace.png', alt='Brought to you by Meatspace', title='Brought to you by Meatspace')
